html {
  height: 100%;
  max-height: 100dvh;
  width: 100%;
}

body {
  border: solid blue;
}

#appContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);

  align-items: center;
  justify-content: center;

  border: solid green 10px;

  & div {
    border: solid red;
  }
}

#greetingsContainer {
  grid-column: 1 /-1;
  grid-row: 1;
}

#tasksToDoContainer {
  grid-column: 1 / span 4;
  outline: solid red;
}

#allTasksContainer {
  grid-column: 5 / span 4;
  outline: solid green;
}

#notesContainer {
  grid-column: 9 / span 4;
  outline: solid blue;
}

footer {
  grid-column: 1 /-1;
  grid-row: -1;
}
